@import '~bootstrap/scss/bootstrap';

body {
  background-color: #CCE4EF;
  background-image: url("https://images.pexels.com/photos/951240/pexels-photo-951240.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
.center-block {
  float: none;
}

.message {
}

.form {
}

.mybuttoncolor{
  background-color: #669FFF;
  color: white;

}

.mybutton {
  display: flex;
  margin: 10px;
  justify-content: center;
}

.nav{
    display: inline-block;
    float: none;
    list-style:none;
    margin:0;
    padding-right: 50px;
    padding-left: 0;
    text-align:center;

}

.navbar li {
    display:inline;
    text-align: center;
    padding-right: 40px

}

.nav-holder {
  background-color: rgba( 255, 255, 255, 0.7 );
}

.title {
  padding-bottom: 15px;
  padding-left: 50px;
  background-color: #669FFF;
  font-family: 'Acme', sans-serif;
  color: #F2F1EB;
}
section {
  background-color: #F5F5F5;
  width: 25%;
  border-width: 5px;
  border: solid;
  border-color: darkgrey;
  margin: 10px;
}

#message {
  background-color: #F5F5F5;
  width: 25%;
  border-color: darkgrey;
  margin: 10px;
}

#title {

}
